.hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5))
}

body {
  background-color: black;
  color:white;
} 

h1 {
  text-emphasis: bold;
  font-size: 80px;
  
}

button {
  margin: 20px 0px 20px 0px;
  width: 200px;
}

header {
  height: 0px;
}
img {
  width: 440px;
  border-radius: 10px;
  display: block;
  margin: auto;
}

#marsResult {
  display: none;
  margin-top: 100px;
  color: black;
}  

.col-lg-5 {
  background-color: white;
  padding: 20px;
  margin: 30px;
}

p {
  margin: 15px 0px 0px 5px;
  font-family: Schoolbell;
  font-size: 26px;
}
.form-control {
  width: 120px;

}

#marsFind {
  border-radius: 25px;
}

#title {
  text-align: center;
}

#inputFields {
  text-align: center;
}

#button {
  text-align: center;
}

#searchResultOneTextLeft, #searchResultTwoTextLeft {
  float: left;
}

#searchResultOneTextRight, #searchResultTwoTextRight {
  float: right;
}

#searchResultOneTextCenter, #searchResultTwoTextCenter {
  text-align: center;
  clear: both;
}

.dateField {
  width: 170px; 
}

input[type=date]{
  padding-left: 20px;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  color:white;
  background-color: rgba(103, 51, 31, .6);
  border-radius: 10px;
} 